html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
:root{
    --primary-color:  #42dbfe ;
    --secondary-color: #F87437;
    --color-white: black;
    --size-lg: 2.125rem;
    --size-sm: 0.875rem;
    
}
/* Navbar Start */
.navbar{
    background-color: var(--primary-color)!important;

}
.navbar .navbar-nav .nav-item .nav-link{
    color: var(--color-white);
    font-size: var(--size-sm);
}

.navbar .navbar-nav .nav-item .nav-link.active{
    color: red;
}


/* Navbar End */

/* slider start */
.hero-slider .carousel-inner{
    width: 100%;
    height: 70%;
}
.hero-slider .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;

}
.hero-slider .carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;

}
.carousel-indicators button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;

}
.carousel-indicators button.active{
    background-color: var(--primary-color);
}


/* slider end */

/* sidenav start */
/* .list-group .list-group-item.active{
    background-color: var(--primary-color);
    color: var(--color-white);

}
.list-group .list-group-item.active:hover{
    background-color: var(--secondary-color);
    color: var(--color-white);
    transition: .6s ease-in-out;
} */

/* sidenav end */
.product-card-area .card img{
    width: 100%;

}
.product-card-area .card .card-body .card-title a{
    font-size: var(size-md);
    color: var(--primary-color);
    text-decoration: none;

}
.product-card-area .card{
    margin-bottom: 15px;
}
.product-card-area .card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .6s;

}

.product-card-area .card .card-body .card-title a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    transition: .6s ease;
}

.product-card-area .card .card-body .ratting span{
    font-size: var(--size-sm);
    color: var(--secondary-color);
}
.product-card-area .card .card-body button{
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: var(--size-sm);

}
.product-card-area .card .card-body button:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: .6s;

}


.card img{
    height: 160px;
    width: 160px;
    max-width: 100%;
    padding: 10px;
}


.pagination {
 
    --bs-pagination-color: black;
  
    --bs-pagination-active-bg:var(--primary-color);
    --bs-pagination-active-border-color: var(--primary-color);
}
.list-group {
    
  
    --bs-list-group-action-color: var(--secondary-color);
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: var(--secondary-color);
    --bs-list-group-action-active-color: #bfff;
    --bs-list-group-action-active-bg: var(--secondary-color);
  
    --bs-list-group-active-color: black;
    --bs-list-group-active-bg: var(--primary-color);
    --bs-list-group-active-border-color: var(--primary-color);
  }
  .testimonial-area .card-item .photo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
.testimonial-area .card-item .photo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.testimonial-area .card-item .card-text p {
    text-align: justify;
}
.testimonial-area .card-item .card-text p i{
    font-size: 40px;
    color: lightgray;
}
.row-responsive{
   margin-left: 10px;

}
.slick-prev:before, .slick-next:before {
    
    color: var(--primary-color);
   
}




a:hover {
 
  text-decoration: none;
}

::selection {
  /* background: $primary-orange; */
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: var(--primary-color);
  color: white;
  
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
  }

.footer-column {
  text-align: center;

  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
   
    span.footer-title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
   
  }
}

ul.social-buttons {
  margin-bottom: 0;
}



ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}
footer ul li a{
    color: white;
}

a.nav-link {
    color: #fff;
}
.btn-primary{
    background-color: transparent !important;
    border: none;
}
.btn-primar:hover{
    background-color: transparent !important;


}
